apiVersion: v1
kind: Namespace
metadata:
  name: esl-speech-worker
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esl-speech-worker-cache
  namespace: esl-speech-worker
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esl-speech-worker-models
  namespace: esl-speech-worker
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path

